.Youtube-form .form{
    padding: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0 2px 4px 0 black;
}
.Youtube-form .form:hover{
    box-shadow: 0 4px 6px 0 black;
}
.Youtube-form .form input[type=text],.Youtube-form .form input[type=email], .Youtube-form .form textarea{
    border: none;
    border-bottom: 1px solid gray;
    background-color: white;     
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}
.Youtube-form .form input[type=radio]{
    border: 1px solid teal;
    width: 18px;
}

.Youtube-form .form .radio-label{
    letter-spacing: 0;
}
.Youtube-form .form .date-picker button{
    color: black;
    background-color: white;
    font-size: inherit;
}
.Youtube-form .form label{
    font-size: 18px;
    color: teal;
    letter-spacing: 4px;
}
.Youtube-form .form select{
    font-size: 18px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
}
.Youtube-form .form .teal-btn{
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    background-color: teal;
    border: none;
    color: white;
    box-shadow: 0 4px 6px 0 black;
    font-size: 18px;
    margin: 10px;
    width: 100%
}
.Youtube-form .form button:hover{
    box-shadow: 0 2px 4px 0 black;
}
.error{
    font-size: 15px;
    font-family: cursive;
    color: red;
}
.Youtube-form .form .formGroup{
    margin-bottom: 20px;
}